@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

:root{
    --hue-1:257;
    --hue-2:47;
    --bg-color:hsl(var(--hue-1),100%,97%);
    --main-color-1:rgba(254, 84, 112);
    --main-color-dark-1:rgb(255, 55, 88);
    --main-color-2:hsl(var(--hue-2),100%,61%);
    --main-color-dark-2:hsl(var(--hue-2),82%,55%);
    --bg-color-1: #fff;
    --bg-color-2: #fff;
    --bg-color-3:hsl(var(--hue-1),100%,98%);
    --bg-color-transparent:rgba(255,255,255,0.6);
    --heading-color:hsl(var(--hue-1),61%,24%);
    --text-color:hsl(var(--hue-1),17%,63%);
    --section-padding:3rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
    overflow-x: hidden;
    background-color: var(--bg-color-1);
    font-family: 'Poppins', sans-serif;
}

::selection{
    background-color: var(--main-color-1);
    color: #fff;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    position: relative;
    width:100%;
    max-width: 75rem;
    padding:0 1.5rem;
    margin:0 auto;
}

/* NAVBAR */

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 10;
    transition: all 0.3s ease;
}

header.scrolled{
    background-color: var(--bg-color-transparent);
    box-shadow: 0 5px 20px 0.1px rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
}

.logo img{
    margin-right: 1.5rem;
    height: 100px;
    width: 100px;
    transition: all 0.3s ease;
}

header.scrolled .logo img{
    height: 80px;
    width: 80px;
}

nav.container{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}

.links{
    flex:1;
    display: flex;
    justify-content: space-between;
}

.links ul{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: flex-end;
}

.nav-link{
    position: relative;
    display:inline-block;
    margin:0 1rem;
    font-size:0.9rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity:0.9;
    transition: all 0.3s ease;
}

.nav-link::after{
    content:"";
    position: absolute;
    width:0;
    height:10px;
    border-radius:5px;
    background-color: var(--main-color-1);
    bottom:0;
    left:-5px;
    z-index:-1;
    opacity: 0;
    transition: .3s;
}

.nav-link:hover{
    color:var(--heading-color);
    opacity:1;
}

.nav-link:hover::after{
    width: 100%;
    opacity: 0.2;
}

.toggle-btn{
    color:var(--heading-color);
    min-width:40px;
    height:40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.toggle-btn:hover{
    filter: brightness(97%);
    color:var(--main-color-1);
}

/* HERO */

.showcase-area{
    padding:120px 0;
    width:100%;
    overflow: hidden;
    margin-left:2rem;
}

.showcase-area .container{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    height:calc(100vh - 120px);
    max-height: 2600px;
    align-items: center;
    column-gap:4rem;
}

.sub-heading{
    color:var(--heading-color);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left:3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.heading{
    color:var(--heading-color);
    font-size:3rem !important;
    line-height:1.3;
    font-family: 'Poppins', sans-serif;
    font-weight:300;
}

.text{
    color:var(--text-color);
    font-size:0.9rem;
    margin:2rem 0;
    line-height:2.3;
}

.showcase-area .sub-heading{
    margin-bottom: 0.7rem;
}

.showcase-area .heading{
    font-size: 3.5rem;
}

.showcase-area .text{
    margin: 0.8rem 0;
    max-width: 400px;
}

.cta{
    margin-top:2rem;
    display:flex;
    align-items:center;
}

.cta .btn{
    margin-right:1.5rem;
}

.btn{
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius:17px;
    background-color: var(--main-color-1);
    color:#fff;
    font-size:0.85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    outline:none;
    font-family: inherit;
    cursor:pointer;
    border:none;
}

.btn:hover{
    background-color: var(--main-color-dark-1);
}

.btn.secondary-btn{
    position:relative;
    background-color: transparent;
    color: var(--main-color-1);
    font-weight:500;
    font-size:0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--main-color-2);
    border-radius:0px;
    padding: 0.15rem 0;
    min-width: revert;
}

.btn.secondary-btn::before{
    content:"";
    position: absolute;
    width:0;
    height:2.5px;
    border-radius:5px;
    background-color: var(--main-color-1);
    bottom:-2.5px;
    left:0;
    opacity: 0;
    transition: .3s ease-in-out;
}

.btn.secondary-btn:hover::before{
    width: 100%;
    opacity: 1;
}

.showcase-image{
    width:90%;
    border-radius:0 0 80px 80px;
}

.showcase-image img{
    width:90%;
}

/* ABOUT */

.section{
    position:relative;
    padding:var(--section-padding) 0;
}

.about .container{
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
    column-gap:6rem;
}

.about .heading{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.about .text{
    margin:3rem 0 4rem;
}

/* SKILLS */

.skills{
    overflow: hidden;
}

.skills .heading{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.skills-box{
    background-color: var(--bg-color-2);
    padding:5rem 6rem;
    border-radius: 20px;
    width:100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.skills-wrap img{
    width:30px;
    height:30px;
    margin-right:1rem;
    margin-bottom:1rem;
}

/* SERVICES */

.services .heading{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.services .container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 6rem;
    align-items: center;
    margin-top:3rem;
}

.milestones{
    display:grid;
    width:100%;
    grid-template-columns:repeat(3,1fr);
    align-items:center;
    text-align:center;
    justify-items: flex-start;
}

.milestones h2{
    color:var(--main-color-1);
    font-size:1.3rem;
}

.milestones h2 span{
    font-size:2rem;
    line-height: 1.2;
    margin-right:0.1rem;
}

.milestones h5{
    color:var(--heading-color);
    line-height: 0.9;
    font-weight:500;
    font-size:0.95rem;
}

 .services-grid{
    position:relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:2rem;
    row-gap:4.4rem;
 }

 .srv-card{
    background-color: var(--bg-color-2);
    border-radius: 15px;
    padding:2.5rem 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height:280px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
 }

 .srv-card:hover{
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
 
 }

 .srv-card h3{
    color:var(--heading-color);
    font-weight:500;
    font-size:1.05rem;
 }

 .srv-card .text{
    margin:.7rem 0;
    font-size:0.7rem;
 }

.srv-card:nth-child(2){
    transform: translateY(2.2rem);
}

.srv-card:nth-child(3){
    transform: translateY(-2.2rem);
}

.services-grid::before{
    content:"";
    position:absolute;
    width:210px;
    height:210px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:15px solid var(--main-color-1);
    z-index:-1;
    opacity:0.1;
}

/* PORTFOLIO */

.portfolio .heading{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.portfolio-header{
    padding-bottom:2rem;
}

.portfolio-title{
    padding-bottom:1rem;
}

.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:2rem;
}

.prt-card{
    border-radius: 15px;
    overflow:hidden;
    background-color: var(--bg-color-2);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: grid;
    grid-template-rows: 1fr auto;
    transition: all 0.3s ease-in-out;
}

.prt-card:hover{
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.prt-image{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prt-image img{
    width: 105%;
}

.prt-desc{
    padding:1.1rem 1.6rem;
}

.prt-desc{
    font-size: .95rem;
    color:var(--heading-color);
    font-weight:400;
    text-transform: capitalize;
}

/* TESTIMONIALS */

.testimonials{
   overflow: hidden;
   background-color: var(--main-color-1);
}

.testimonials .heading{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color:#fff;
}

.testimonials .sub-heading{
    color:#fff;
    font-size:0.9rem;
    margin-bottom: 1.5rem;
}

.testimonials .container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 4rem;
    column-gap: 6rem;
    margin-top:3rem;
}


.swiper-pagination{
    position:static;
    display: flex;
    align-items: center;
    justify-content: center;
    height:11px;
    margin-bottom:1rem !important;
}

.swiper{
    width:100%;
    background-color: var(--bg-color-2);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

span.swiper-pagination-bullet{
    background-color: var(--main-color-1);
    opacity: 0.3;
    width:7px;
    height:7px;
    cursor:pointer;
}

span.swiper-pagination-bullet-active{
    opacity: 1;
    width:10px;
    height:10px;
}

.swiper-slide{
    padding:2rem 2.5rem;
}

.client{
    display:grid;
    grid-template-columns: 85px 1fr;
    align-items: center;
    gap:1.5rem;
}

.client img{
    width:100%;
    border-radius: 50%;
}

.client-info h4{
    font-weight:500;
    color:var(--heading-color);
    margin-bottom:0.3rem;
    font-size:1.05rem;
}

.client-info h5{
    color:var(--text-color);
    font-weight:500;
    font-size:0.8rem;
}

.client-info h5 a{
    color: var(--main-color-1);
}

.swiper-slide .text{
    margin: 1.5rem 0 3rem;
    display: block;
}

/* CONTACT */

.contact .heading{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.contact .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:calc(100vh - 120px);
    max-height: 2600px;
    align-items: center;
    column-gap:4rem;
}

.contact .container img{
    width:98%;
}

.mail{
    color:var(--main-color-1);
    font-weight:500;
    font-size:1.1rem;
    transition: 0.3s;
}

.mail i{
    display: inline-block;
    font-size: 1rem;
    margin-left:5px;
    transition: 0.3s margin-left;
}

.mail:hover{
    color:var(00main-color-dark-1);
}

.mail:hover i{
    margin-left:10px;
}

.contact-form{
    margin:2rem 3rem;
    background-color: var(--bg-color-2);
    border-radius: 20px;
    padding:3.5rem 3rem;
    display: flex;
    flex-direction: column;
}

.contact-form h3{
    color:var(--heading-color);
    font: size 1.3rem;
    font-weight:500;
    margin-bottom: 1.6rem;
    line-height:0.9;
}

.form-input{
    display: inline-block;
    padding:0.9rem 1.5rem;
    background: var(--bg-color-3);
    border: 2px solid var(--bg-color-3);
    width:100%;
    border-radius: 10px;
    font-family: inherit;
    font-size: 0.85rem;
    font-weight:500;
    color:var(--heading-color);
    outline:none;
    transition: all 0.3s ease;
}

.form-input::placeholder{
    color:var(--text-color);
}

.form-input:hover{
    filter: brightness(97%);
}

.form-input:valid, .form-input:focus{
    filter: brightness(100%);
    border: 0.5px solid var(--main-color-1);
}

textarea.form-input{
    resize: none;
    height: 170px;
}

.contact-form .form-input{
    margin-bottom: 1.5rem;
}

/* NEWSLETTER */

.subscription{
    overflow:hidden;
    /* background-color: var(--main-color-1); */
    padding: 3rem 0;
}

.subscription .heading{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    
}

.sub-box{
    background-color: var(--bg-color-2);
    border-radius: 15px;
    padding:3.5rem 3rem;
    width:100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:6rem;
    align-items: center;
}

.sub-box .heading{
    font-size:2rem;
    margin-top:2rem;
}

.sub-box form{
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap:1.2rem;
}

/* FOOTER */

footer{
    padding:3rem 0 0;
    color:var(--text-color);
}

footer .container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap:wrap;
}

footer .social-media{
    display: flex;
}

.social-link{
    width:35px;
    height:35px;
    border-radius:50%;
    margin-left:1rem;
    background-color:var(--bg-color-1);
    color:var(--text-color);
    display: flex;
    align-items:center;
    justify-content: center;
    transition: .3s;
}

.social-link:hover{
    color: var(--main-color-1);
}